{% extends "site/base" %} 

{% block title %}{{ post.title }} &mdash; {% endblock title %}

{% block content %}

<div class="posts">
  <div class="post">
    <h2 class="post-title"><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h2>
    <div class="post-date">{{ post.published_at_pretty }}</div>
    <div class="post-body">{{ post.body | safe }}</div>
  </div>
</div>

{% endblock %}
