{% extends "site/base" %} {% block content %}

<p>
  <a href="/blog">Back to blog</a>
</p>

<h2>{{ post.title }}</h2>

<p>{{ post.published_at }}</p>

<div class="entry">{{ post.body | safe }}</div>

{% endblock %}
