{% extends "site/base" %} 

{% block content %}

<div class="posts">
  <div class="post">
    <h3 class="post-title"><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h3>
    <div class="post-date">{{ post.published_at_pretty }}</div>
    <div class="post-body">{{ post.body | safe }}</div>
  </div>
</div>

{% endblock %}
