{% extends "site/base" %}

{% block title %}
    {% if site_short_description and site_short_description != "" %}
        {{ site_short_description }} &mdash; 
    {% endif %}
{% endblock title%}

{% block content %}

<h2 class="page-title">About</h2>

<div class="description">
    {{ site_description|safe }}
</div>

{% endblock %}