* {
    letter-spacing: 0.1px;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui;
    font-size: 16px;
    line-height: 1.75;
    color: #272727;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

@media all and (max-width: 800px) {
    body {
        font-size: 15px;
        align-items: baseline;
        padding: 30px;
    }
}

p {
    margin-top: 30px;
}

p a {
    font-weight: 500;
    color: rgb(99 102 241);
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(99 102 241);
}

h2.page-title {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 1px;
    margin: 0;
}

@media all and (max-width: 800px) {
    h2.page-title {
        font-size: 13px;
    }
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

@media all and (max-width: 800px) {
    .header {
        height: 70px;
        line-height: 70px;
    }
}

.header.is-visible {
    background: rgba(255,255,255,.5);
    backdrop-filter: blur(30px);
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border-bottom: 1px solid #ddd;
}

.header .site-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.25);
    background-size: cover !important;
}

.header .site-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.25px;
}

.header .site-title a {
    color: #111;
    text-decoration: none;
}

.header .site-menu {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.25px;
    margin-left: auto;
}

.header .site-menu a {
    color: #777;
    text-decoration: none;
    margin-left: 20px;
}

.header .site-menu a.active {
    color: #111;
}

.container {
    width: 575px;
    text-shadow: 0 1px 0 #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media all and (max-width: 800px) {
    .container {
        width: 100%;
        padding: 70px 0 0;
    }
}

@media all and (max-width: 800px) {
    .heading {
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }
}

.posts .post {
    margin-bottom: 200px;
}

.posts .post:last-child {
    margin-bottom: 0;
}

.post-title {
    font-size: 29px;
    font-weight: 700;
    letter-spacing: -0.75px;
}

@media all and (max-width: 800px) {
    .post-title {
        font-size: 24px;
    }
}

.post-title a {
    display: inline-block;
    color: #111;
    text-decoration: none;
    line-height: 1.25;
}

.post-date {
    font-size: 14px;
    color: #999;
    margin-top: -5px;
}

@media all and (max-width: 800px) {
    .post-date {
        font-size: 13px;
        margin-top: 3px;
    }
}

.post-body {}

.post-body code {
    font-size: 14px;
    font-family: monospace;
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 6px;
    border-radius: 5px;
}

@media all and (max-width: 800px) {
    .post-body code {
        font-size: 13px;
    }
}

.post-body pre {
    display: block;
    width: calc(100% + 120px);
    font-size: 14px;
    font-family: monospace;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.045);
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
    padding: 30px 60px;
    margin-top: 30px;
    margin-left: -60px;
}

@media all and (max-width: 800px) {
    .post-body pre {
        width: calc(100% + 60px);
        font-size: 13px;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        padding: 20px 30px;
        margin-left: -30px;
    }
}

.post-body pre code {
    border: 0;
    padding: 0;
}

.post-body img {
    width: calc(100% + 120px);
    height: auto;
    margin-left: -60px;
}

@media all and (max-width: 800px) {
    .post-body img {
        width: calc(100% + 60px);
        margin-left: -30px;
    }
}

.post-body h2 {
    font-size: 21px;
    font-weight: 500;
    color: #333;
    margin-top: 70px;
}

@media all and (max-width: 800px) {
    .post-body h2 {
        font-size: 18px;
        margin-top: 50px;
    }
}