<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock title %} &mdash; Preach</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>

    <div class="container">

        <div class="sidebar">
            <ul class="menu">
                <li><a href="/admin/posts">Posts</a></li>
                <li><a href="/admin/settings">Settings</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="heading">
                <h2>{% block page_title %}{% endblock page_title %}</h2>
                <div class="action">
                    {% block action %}{% endblock action %}
                </div>
            </div>

            {% block content %}{% endblock content %}
        </div>

    </div>

</body>
</html>